@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;500&display=swap');
@import 'misans/lib/misans-300-light.min.css';
@import 'misans/lib/misans-400-normal.min.css';
@import 'misans/lib/misans-500-medium.min.css';
@import './animation.css';

html,
body {
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 1) !important;
  background-color: #000 !important;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:focus,
button:focus {
  outline: none !important;
}

/* Utilities */
.absolute-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.absolute-horizontal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-relative {
  position: relative;
}

.p-absolute {
  position: absolute;
}

.p-fixed {
  position: fixed;
}

.pointer-events-none {
  pointer-events: none;
}

.c-pointer {
  cursor: pointer;
}

.c-grab {
  cursor: grab;
}

.object-fit-cover {
  object-fit: cover;
}
